Pygments==1.6
argparse==1.2.1
lice==0.4
pudb==2013.5.1
requests==2.2.0
six==1.5.2
-e git+git@github.com:twneale/tater.git@9b13d60ac401fb2f49e394b3202f9c5b1b38b50c#egg=tater-dev
urwid==1.1.2
wsgiref==0.1.2
networkx==1.8.1

